**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/bin/
**/changelog/
**/docs/
**/node_modules/
**/obj/
**/secrets.yaml
**/TestResults/
Dockerfile*
docker-compose*
**/*.ps1
**/*.md
